:root{
    --text-theme: #fce5cd;
}

.gallery-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.gallery-indexSort{
    display: flex;
    margin: 0px 170px; 
    justify-content: space-between;
    align-items: center;
}
.gallery-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    color: var(--text-theme);
}
.gallery-indexSort p span{
    font-weight: 600;
}

.gallery-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

/* .gallery-products {
    margin: 20px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
} */

.gallery p{
    color: var(--text-theme);
}
.gallery-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width:1280px) {
    .gallery-banner{
        margin: 20px auto;
        width: 90%;
    }
    .gallery-indexSort{
        width: 90%;
        margin: auto;
    }
    .gallery-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .gallery-indexSort p{
        font-size: 12px;
    }
    .gallery-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .gallery-products .item{
        margin: auto;
    }
    .gallery-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }


}
@media (max-width:800px) {
    .gallery-banner{
        width: 95%;
    }
    .gallery-products{
        width: 95%;
    }
    .gallery-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
@media (max-width:500px) {
    .gallery-products{
        grid-template-columns: 1fr 1fr;
    }
}
/* --------------- */
@media screen and (max-width: 1200px) {
    .gallery-products {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjust column size for smaller screens */
    }
}

@media screen and (max-width: 992px) {
    .gallery-products {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* Adjust column size for even smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .gallery-products {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* Adjust column size for smaller devices like tablets */
    }
}

@media screen and (max-width: 576px) {
    .gallery-products {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust column size for mobile devices */
    }
}